.toastContainer {
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px;
  color: #ffffff;
  z-index: 1; 
  height: auto;
  position: relative;
  width: 350px;
  top:-100%;
  right:10px;
  opacity: 0.9;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /* float: left; */
}

.toastContainerSuccess{
  background-color: darkgreen;
}

.toastContainerError{
  background-color: #8b0000;
}

.toastContainerInfo{
  background-color: purple;
}

.toastContainerWarning{
  background-color: darkorange;
}

#toastHeader {
font-size: medium;
 border-bottom: 2px solid white;
 display: inline-block;
 position: relative;
}
#toastContent{
position: relative;
font-size: x-large;
}
